<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <meta name="login-page" content="login information">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="heading-container">
        <span style="--i:1">A</span>
        <span style="--i:2">T</span>
        <span style="--i:3">S</span>
        <span style="--i:4">C</span>
        <span style="--i:5">-</span>
        <span style="--i:6">P</span>
        <span style="--i:7">o</span>
        <span style="--i:8">r</span>
        <span style="--i:9">t</span>
        <span style="--i:10">a</span>
        <span style="--i:11">l</span>
    </div>
   
    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
            <input type="text" name="" required="">
            <label>NTID</label>
            </div>
            <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
            </div>
            <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
            </a>
        </form>
        </div>
  

</body>
</html>